{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Athena", "Astrild", "Amaterasu", "Bylgia", "Elli", "Epona", "Freya", "Hel", "Idun", "Isis", "Iris", "Mnemosyne", "Nox", "Nut", "Izanami", "Kishibojen", "Selena", "Kushinada", "Loki", "Thor", "Izanagi", "Zeus", "Icarus", "Dedalus", "Horus", "Khonsu", "Thoth", "Susanoo", "Osiris", "Hades", "Ohonamochi", "Raiden", "Ushiwaka", "Ares", "Mars", "Pluto", "Ra", "Amun", "Jupiter" ],
      [ { "mode" : "alts" }, " " ]
    ]
  ]
}
